.header {
  background-color: #FFFFFF;
  box-shadow: 0px 8px 28px 0px #78B1B51A;
  -webkit-box-shadow: 0px 8px 28px 0px #78B1B51A;
  -moz-box-shadow: 0px 8px 28px 0px #78B1B51A;

}
.logo {
  width: 8%;
  margin: 0.8rem 2rem;
}
