<app-header></app-header>
<app-loading *ngIf="!loadData"></app-loading>
<main class="row" *ngIf="loadData">
  <div class="col-6">
    <div class="container-info ">
      <h2 class="title m-left">¡Ya casi términamos!</h2>
      <label class="sub-title m-left">Revisa la información, y completa lo solicitado.</label>
      <app-load-image [isImageLoad]="true" class="content-load"></app-load-image>
    </div>
  </div>
  <div class="col-6">
    <div class="container-data">
      <h2 class="title">Pokémon</h2>
      <label class="sub-title">Selecciona 3 Pokémon para que sean parte de tu equipo</label>
      <br>
      <input class="input-search" type="text" [formControl]="searchControl" placeholder="Buscar por índice, nombre...">
      <div class="container-pokemon">
        <div *ngFor="let pokemon of filteredPokemons" class="pokemon" (click)="getListPokemon(pokemon)">
          <img class="img-pokemon" [src]="pokemon['sprites']['other']['home']['front_default']" alt="pokemon" >
          <div class="gray-background" [class.selected]="isSelected(pokemon)">
            <div class="labelPokemon">
              <div class="textPokemon">#{{pokemon['id']}}  {{ pokemon['name'] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5rem">
      <div class="container-button">
        <button type="submit" [disabled]="selectedPokemons.length !== 3">Continuar</button>
      </div>
    </div>
  </div>
</main>
