.container-info {
  margin: 5rem 6rem;
}

.container-data {
  margin: 6rem 10rem 0 0;
}

.title {
  color: #185A7D;
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.sub-title {
  color: #868686;
  margin-bottom: 6%;
}

.content-load {
  display: flex;
  justify-content: center;
}

.m-left {
  margin-left: 20%;
}

.img-pokemon {
  height: 8rem;
  z-index: 1;
  position: relative;
}

.container-pokemon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon {
  margin: 1rem;
  position: relative;
  text-align: center;
}

.input-search {
  width: 100%;
}

.gray-background {
  background-color: #F2F2F2;
  position: absolute;
  bottom: -3rem;
  height: 70%;
  width: 100%;
  border-radius: 1.25rem;
}

.labelPokemon {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.textPokemon {
  background-color: #01426A;
  color: #FFFFFF;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.selected {
  background-color: #FFC600; /* Cambiar el color de fondo para los Pokémon seleccionados */
}

.container-button {
  display: flex;
  justify-content: center;
  width: 80%;
}
