.container-info {
  margin: 5rem 6rem;
}

.container-data {
  margin: 8rem 10rem 0 0;
}

.title {
  color: #185A7D;
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.sub-title {
  color: #868686;
  margin-bottom: 6%;
}

.content-load {
  display: flex;
  justify-content: center;
}

.m-left {
  margin-left: 20%;
}

.img-pokemon {
  height: 10rem;
}

.container-pokemon {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  width: 30%; /* Ajusta el ancho de cada elemento para dejar espacio entre ellos */
  margin-bottom: 20px; /* Espacio entre las filas */
}
