<app-header></app-header>
<app-loading *ngIf="!loadData"></app-loading>
<main class="row" *ngIf="loadData">
  <div class="col-6">
    <div class="container-info ">
      <div class="row">
        <div class="col-1 row-back">
          <img src="assets/icons/arrow_back.svg" alt="row-back"/>
        </div>
        <div class="col-11">
          <h2 class="title semi-bold">¡Ya casi términamos!</h2>
        </div>
      </div>
      <div class="row" style="margin-top: 0.5rem">
        <div class="col-1"></div>
        <div class="col-11">
          <label class="sub-title">Revisa la información, y completa lo solicitado.</label>
        </div>
      </div>
      <app-load-image [isRegisted]="true" class="content-load"></app-load-image>
    </div>
  </div>
  <div class="col-6" [hidden]="loadDetailData">
    <div class="container-data">
      <h2 class="title">Pokémon</h2>
      <label class="sub-title" style="margin-top: 0.8rem">Selecciona 3 Pokémon para que sean parte de tu equipo</label>
      <br>
      <div class="custom-input">
        <img src="assets/icons/search.svg" alt="Lupa" class="lupa-icon">
        <input class="input-search" type="text" [formControl]="searchControl" placeholder="Buscar por índice, nombre...">
      </div>
      <div class="container-pokemon">
        <div *ngFor="let pokemon of filteredPokemons" class="pokemon" (click)="getListPokemon(pokemon)">
          <img class="img-pokemon" [src]="pokemon['sprites']['other']['home']['front_default']" alt="pokemon" >
          <div class="gray-background" [class.selected]="isSelected(pokemon)">
            <div class="labelPokemon">
              <div class="textPokemon">#{{pokemon['id']}}  {{ pokemon['name'] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5rem">
      <div class="container-button">
        <button type="submit" [disabled]="selectedPokemons.length !== 3" (click)="sendPokemons()">Guardar</button>
      </div>
    </div>
  </div>
  <div class="col-6" *ngIf="loadDetailData">
    <div class="container-data">
      <h2 class="title">Mis Pokémon</h2>
      <br>
      <div class="container-list">
        <div *ngFor="let pokemon of selectedPokemons">
          <div class="row container-detail">
            <div class="col-4 img-detail">
              <img class="img-pokemon" [src]="pokemon['sprites']['other']['home']['front_default']" alt="pokemon" >
              <label class="bold" style="font-size: 1.87rem">{{ pokemon['name'] }}</label>
              {{ pokemon['types']?.[0]?.['type']?.['name'] | translation: TYPES_POKEMON: 'Otros' }}
            </div>
            <div class="col-8" style="display: grid; align-items: center;">
              <div class="row" *ngFor="let stats of pokemon['stats']">
                <div class="col-6">
                  {{stats['stat']['name'] | translation: TYPES_HABILITIES}}
                </div>
                <div class="col-6">
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar"
                         [ngClass]="{
                                      'bg-danger': pokemon['types']?.[0]?.['type']?.['name'] === 'fire',
                                      'bg-info': pokemon['types']?.[0]?.['type']?.['name'] === 'water',
                                      'bg-success': pokemon['types']?.[0]?.['type']?.['name'] === 'grass',
                                      'bg-warning': pokemon['types']?.[0]?.['type']?.['name'] === 'electric'
                                    }"
                         [ngStyle]="{ 'width': stats.base_stat + '%' }"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
