<app-header></app-header>
<app-loading *ngIf="!loadData"></app-loading>
<main class="row" *ngIf="loadData">
  <div class="col-lg-6">
    <div class="container container-info">
      <div class="row" style="justify-content: center">
        <div *ngIf="!loadDetailData" class="col-12 center-col">
          <div class="row">
            <div class="col-1 row-back" (click)="backButton()">
              <img src="assets/icons/arrow_back.svg" alt="row-back"/>
            </div>
            <div class="col-11">
              <h2 class="title semi-bold">¡Ya casi términamos!</h2>
            </div>
          </div>
        </div>
        <div *ngIf="!loadDetailData"  class="col-12 center-col" style="margin-top: 0.5rem">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-11">
              <label class="sub-title" style="width: 120%;">Revisa la información, y completa lo solicitado.</label>
            </div>
          </div>
        </div>
        <div *ngIf="loadDetailData" class="col-12 center-col">
          <div class="row">
            <div class="col-8">
              <h2 class="title bold hello">¡Hola {{user.name}}!</h2>
            </div>
            <div class="col-4">
              <img (click)="backButton()" style="margin-top: 0.4rem;" src="assets/imgs/edit-profile.svg" alt="profile">
            </div>
          </div>
        </div>
        <app-load-image [isRegisted]="true" [isDetail]="loadDetailData" class="content-load"></app-load-image>
      </div>
    </div>
  </div>
  <div class="col-lg-6" [hidden]="loadDetailData">
    <div class="container-data">
      <h2 class="title">Pokémon</h2>
      <label class="sub-title" style="margin-top: 0.8rem">Selecciona 3 Pokémon para que sean parte de tu equipo</label>
      <br>
      <div class="custom-input">
        <img src="assets/icons/search.svg" alt="Lupa" class="lupa-icon">
        <input class="input-search" type="text" [formControl]="searchControl" placeholder="Buscar por índice, nombre...">
      </div>
      <div class="container-pokemon">
        <div *ngFor="let pokemon of filteredPokemons" class="pokemon" (click)="getListPokemon(pokemon)">
          <img class="img-pokemon" [src]="pokemon['sprites']['other']['home']['front_default']" alt="pokemon" >
          <div class="gray-background" [class.selected]="isSelected(pokemon)">
            <div class="labelPokemon">
              <div class="textPokemon">#{{pokemon['id']}} &nbsp; {{ pokemon['name'] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5rem">
      <div class="container-button">
        <button type="submit" [disabled]="selectedPokemons.length !== 3" (click)="sendPokemons()">Guardar</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6" *ngIf="loadDetailData">
    <div class="container-data">
      <div class="row">
        <div class="col-8">
          <h2 class="title">Mis Pokémon</h2>
        </div>
        <div class="col-4 title-edit">
          <img (click)="backButton()" src="assets/imgs/edit.svg" alt="edit">
        </div>
      </div>
      <br>
      <div class="container-list">
        <div *ngFor="let pokemon of selectedPokemons">
          <app-detail-pokemon [pokemon]="pokemon"></app-detail-pokemon>
        </div>
      </div>
    </div>
  </div>
</main>
