.container-info {
  margin-top: 2rem;
}

.container-data {
  margin: 3rem 8rem 0 0;
}

.title {
  color: #185A7D;
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.sub-title {
  color: #868686;
  margin-bottom: 6%;
}

.content-load {
  display: flex;
  justify-content: center;
}

.m-left {
  margin-left: 20%;
}

.img-pokemon {
  height: 8rem;
  z-index: 1;
  position: relative;
}

.container-pokemon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon {
  margin: 1rem 1.5rem;
  position: relative;
  text-align: center;
}

.gray-background {
  background-color: #F2F2F2;
  position: absolute;
  bottom: -3rem;
  height: 70%;
  width: 100%;
  border-radius: 1.25rem;
}

.labelPokemon {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.textPokemon {
  background-color: #01426A;
  color: #FFFFFF;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.selected {
  background-color: #FFC600; /* Cambiar el color de fondo para los Pokémon seleccionados */
}

.container-button {
  display: flex;
  justify-content: center;
  width: 80%;
}

.container-list {
  overflow-y: auto;
  height: 70vh;
}

// Search Input

.custom-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-search {
  padding-left: 2.5rem;
  background-color: #f2f2f2;
  border: none;
  border-radius: 1rem;
  height: 2.25rem;
  box-sizing: border-box;
  width: 100%;
}

.input-search:focus {
  outline: none; /* Quita el borde al recibir foco */
}

.lupa-icon {
  position: absolute;
  left: 0.8rem; /* Posición a la izquierda */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente */
  width: 20px; /* Ancho de la imagen de la lupa */
  height: auto; /* Altura ajustada automáticamente */
}

.hello {
  margin-bottom: 2rem;
  color: #000000;
  text-align: end;
}

.title-edit {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4rem;
}

.center-col {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .container-data {
    margin: 2rem 4rem 0;
  }
  .container-button {
    width: 100%;
  }
}
