<div class="container-image">
  <h3 class="title">{{isImageLoad ? user.name : 'Imágen perfil'}}</h3>
  <div class="container">
    <div class="circle-white"></div>
    <div class="circle-gray" [hidden]="imageUrl"></div>
    <div [hidden]="!imageUrl">
      <img [src]="imageUrl" alt="Imagen" class="circle-image"/>
    </div>
  </div>
  <div *ngIf="!isImageLoad" class="container-load">
    <div class="input-file">
      <span>Adjunta una foto</span>
      <input type="file" (change)="onFileChange($event)" />
    </div>
  </div>
  <div *ngIf="isImageLoad" class="data-user">
    <div class="row">
      <div class="col-6 description">Pasatiempo:</div>
      <div class="col-6 description"> {{user.hobby}}</div>
    </div>
    <div class="row">
      <div class="col-6 description">Edad:</div>
      <div class="col-6 description">{{user.birthday}}</div>
    </div>
    <div class="row">
      <div class="col-6 description">DUI:</div>
      <div class="col-6 description">{{user.document}}</div>
    </div>
  </div>
</div>
