.container-image {
  background-color: #00693C;
  height: 37rem;
  width: 24rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  color: #FFFFFF;
  margin: 3rem 0 2rem;
  font-size: 1.87rem;
  font-weight: 400;
}

.description {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
}

.text {
  color: #FFFFFF;
  margin: 3rem 0 2rem;
  font-size: 1.87rem;
  font-weight: 400;
}

.img-load {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  max-width: 20rem;
  max-height: 20rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
}

.circle-white {
  width: 70%;
  height: 90%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-gray {
  width: 60%;
  height: 80%;
  border-radius: 50%;
  background-color: #E7EFF5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 60%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: fill;
}

.container-load {
  width: 85%;
  height: 10%;
  border: 0.08rem dashed #185A7D;
  background-color: #FFFFFF;
  margin: auto;
  border-radius: 10px;
}

.label-load {
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.input-file {
  height: 100%;
}

.input-file img {
  height: 30%;
  border-radius: 0;
}

.input-file .delete {
  height: 40%;
  border-radius: 0;
}

.input-file input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.input-file span {
  color: #2C85BC;
  margin-left: 1rem;
}

.data-user {
  margin: 2rem 2rem 0;
}

.img-file {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.load-img {
  margin-right: 1rem;
}

.img-avatar {
  height: 45%;
}

.text-img {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

