<div class="row container-detail">
  <div class="col-4 img-detail">
    <img class="img-pokemon" [src]="pokemon['sprites']['other']['home']['front_default']" alt="pokemon" >
    <label class="bold left label-name">{{ pokemon['name'] | titlecase }}</label>
    <div class="left" style="font-size: 1.12rem">{{ pokemon['types']?.[0]?.['type']?.['name'] | translation: TYPES_POKEMON: 'Otros' }}</div>
  </div>
  <div class="col-8 habilities">
    <div class="row" *ngFor="let stats of pokemon['stats']">
      <div class="col-6 text-habilities">
        {{stats['stat']['name'] | translation: TYPES_HABILITIES}}
      </div>
      <div class="col-6">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar"
               [ngClass]="{
                 'bg-danger': pokemon['types']?.[0]?.['type']?.['name'] === 'dragon',
                 'bg-info': pokemon['types']?.[0]?.['type']?.['name'] === 'water',
                 'bg-success': pokemon['types']?.[0]?.['type']?.['name'] === 'grass' || pokemon['types']?.[0]?.['type']?.['name'] === 'bug',
                 'bg-warning': pokemon['types']?.[0]?.['type']?.['name'] === 'fire',
                 'bg-electric': pokemon['types']?.[0]?.['type']?.['name'] === 'electric'
                }"
               [ngStyle]="{ 'width': stats.base_stat + '%' }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
