.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #FFFFFF;
}

.text-load {
  margin-left: 1.2rem;
  color: #185A7D;
  font-size: 2.1rem;
}
