@import "~bootstrap/dist/css/bootstrap.min.css";

// Button
$button-height: 50px;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

* {
  font-family: 'Poppins';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff1;
}

main {
  flex: 1;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: #01426A;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1px;
  width: 13rem;
  height: $button-height;
  transition: 300ms background-color ease-in-out;
  &:hover {
    background-color: lighten(#01426A, 10%);
  }
}

button:disabled {
  background-color: #E6E6E6;
  color: #868686;
}
